@model IEnumerable<SupermarketManagement.Models.ImportReceipt>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />


<div class="row">
    <div class="col-6">
        <h2 class="text-info">Import Receipt</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Receipt</a>
    </div>
</div>

<br />
<div>
    <form class="form-inline my-2 my-lg-0" asp-action="Index" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.ImportReceiptID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Date)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Total)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.ImportReceiptID)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(m => item.StaffID)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Total)
                </td>
                <td>
                    <partial name="_TableButtonForReceipt" model="item.ImportReceiptID" />
                </td>
            </tr>
        }
    </table>

</div>



