@model IEnumerable<SupermarketManagement.Models.Bill_Detail>
@{
    ViewData["Title"] = "Index";
}



<br />
<br />

<div>

    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProductAmount)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.TotalPrice)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ProductAmount)
                </td>
                <td>
                    @Html.DisplayFor(m => item.TotalPrice)
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>

</div>

